@{
    ViewBag.Title = "Question Unavailable";
}

<div class="row justify-content-center">
    <div class="col text-center">
        <h1>Feedback <span class="fs-4">Comments</span></h1>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <p>Sorry, that question is no longer open for comments or it doesn't exist.</p>
    </div>
</div>
