@model IEnumerable<Standups.Models.Supquestion>

@{
    ViewBag.Title = "Review/Rate Comments";
}

    <div class="row">
        <div class="col-md-12">
            <h3>Questions</h3>
            <p>Click on a question to view comments:</p>
            <div class="list-group" id="questions">
                @if (Model.Count() == 0)
                {
                    <p class="list-group-item disabled">There are no questions at the moment.</p>
                }
                @foreach (var question in Model)
                {
                    var id = $"{question.Id}";
                    <button type="button" class="list-group-item" id="@id">
                        @question.Question &nbsp; &nbsp;<span class="badge bg-secondary rounded-pill" title="The number of comments made for this question">@question.CountOfCommentsWithAdvisorApproval()</span>
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Comments</h3>
            <p>
                These are all the comments that students have submitted and a moderator has ok'd to post for the question you selected.  If you agree with the comment as
                it addresses the question, please click the thumbs up.  If you disagree, click thumbs down.  If you don't care, don't click either.  Once you
                rate a comment you can't unrate it, but you can change your rating.  Your rating will be displayed only in aggregate -- your identity in rating this
                comment will not be made public (I have to record it though to show you a red/green indicator that you've rated it).
            </p>
            <table class="table table-striped table-bordered" id="commentsTable">
                <thead>
                </thead>
                <tbody>
                    @*Filled in by JS below*@
                </tbody>
            </table>
        </div>
    </div>

@section Scripts
{
    <script src="~/js/rate_comment.js"></script>
}

