@{
    ViewData["Title"] = "The Streaming Database";
}

<div class="text-center">
    <h1 class="display-4">The StreamingDB</h1>
    <p>Coming Soon!  While you wait, check out <a asp-action="Info">some info about our project</a>.</p>
</div>
