@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to the Capitalize page and inject some JavaScript XSS.  Use that to simulate a CSRF attack to withdraw money (WithdrawFunds page).</p>
</div>
